table{
    border:1px solid black;
    border-collapse: collapse;
    margin:40px 40px 40px 40px;
}
th,td{
    border:1px solid black;
    padding:0;
   
    
}
th{
  background-color:rgb(230, 221, 221);
  color: rgba(143, 25, 211, 0.993);
}
tr{
  text-align: center;
 
}
select{
    height: 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn{
    border:none;
  }
  

  .dropdown-content a:hover {background-color: #ddd;}

  .dropdown:hover .dropdown-content {display: block;}
  
table tr:nth-child(odd){ 
    background: #c2acd6;
}
table tr:nth-child(even){
    background: #dcd5df;
}
.fa-search{
  color:gray;
}
#delete{
 
  width:40px;
}
#edit,#status{
  color:green;
}

input{
  padding:0;
  width: 183px;
}