table{
    border:1px solid black;
    border-collapse: collapse;
    margin:40px 40px 40px 40px;
}
td{
    border:1px solid rgba(122, 108, 108, 0.342);
    padding:0;
}
th{
  background-color: rgba(143, 25, 211, 0.993);
  border:1px solid white;
  color:white;
  height:0px;
  padding:0;
}
tr{
  background-color:rgb(230, 221, 221);
  color: black;
  text-align: center;
  height:40px;
  
}
select{
    height: 40px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }

  
tr:hover{
  background-color:rgba(150, 109, 167, 0.993); 
   color:white;
}

#edit,#status{
  color:black;
  font-weight:bolder;
  width:88px;
}

input{
  padding:0;
  width: 185px;
  height:40px;

}
#pending{
  color:red;
}
#done{
  color:green;
}