<div class="header">
    <div id="nameDiv">
         <h1 id="logoName">TodoApp</h1>
    </div>
</div>
<div class="header">
 <ul id="headerUl">
       
               
    <li> <nav><a class="liTab" routerLink="/addTodo" routerLinkActive="activeTab">AddTodo</a></nav></li>
    <li> <nav><a class="liTab" routerLink="/todayTodo" routerLinkActive="activeTab">TodayTodo</a></nav></li>
    <li> <nav><a class="liTab" routerLink="/list"routerLinkActive='activeTab'>TodoList</a></nav></li>
    <!-- <li> <nav><a class="liTab" routerLink="/edit">Edit</a></nav></li> -->
</ul>
<router-outlet></router-outlet>
</div>
